// button
.btn {
	width: 335px;
	height: 60px;
	background: $color_orange;
	-webkit-border-radius: 30px;
	        border-radius: 30px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	color: $color_white;
	cursor: pointer;
}

.btn:hover {
	box-shadow: 0 5px 5px rgba(234, 122, 10, 0.5);
	transition: 0.2s ease-in-out
}

.btn-participate {
	display: none;
}


// end button