// button
.btn_participate {
	display: block;
	min-width: 450px;
	min-height: 80px;
	border-radius: 3px;
	font-size: 25px;
	font-weight: bold;
	font-family: PT Sans, sans-serif;
	margin: 0;
	cursor: pointer;
}

// end button