/* footer */

footer {
	background: $color_green;
	padding: 20px;
}
.footer__items {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.footer__item {
	color: $color_white;
}

.footer__item:hover {
	opacity: 0.5;
}

.footer__items img {
	width: 25px;
}

/* end footer */