// игры
.game {
  position: relative;
  //z-index: 5;
  height: auto;
  // display: flex;
  // flex-direction: column;
  //min-height: 1024px;
  transition: opacity 300ms;
  font-size: inherit;
  color: $color_black;
  padding-bottom: 100px;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: none;
}

[data-mask="visible"] {
  display: block;
}
.game .container {
  position: relative;
}

// .game-day .container {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   padding-top: 2rem;
//   position: relative;
//   z-index: 5;
//   flex-grow: 1;
// }


// .game-day__header {
//   padding-left: 4.7rem;
//   padding-top: 4rem;
//   font-size: 1.35em;
// }
.game__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game__title {
  max-width: 884px;
  font-style: normal;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  font-weight: normal;
}

.avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100px;
  cursor: pointer;
  z-index: 4;
}

figcaption {
  font-weight: bold;
  text-align: center;
  color: $color_blue;
}


//popup
.pop-up {
  width: 642px;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  transition :opacity .5s;
  }
.pop-up__wrap {
  position: relative;
}

.pop-up__content {
  max-width: 590px;
  padding-left: 50px;
  font-size: 18px;
  text-align: left;
}

.pop-up .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 37px;
  color: $color_blue;
  margin: 88px 0 46px
}

.pop-up .subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;

  color: #8DC63F;
}

.pop-up .content__list {
  font-size: 18px;
  line-height: 19px;
  text-align: left;
}

.content__list_item {
  margin: 15px 0;
}

.discount {
  display: flex;
  margin: 30px 0;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background: $color_green;
  color: $color_white;
  margin-right: 15px;
}

.percent {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
}

.score {
  font-weight: bold;
  font-size: 16px;
}

.wish {
  color: $color_green;
  font-weight: bold;
}

.close {
  position: absolute;
  top: -24px;
  right: 0;
  cursor: pointer;
}

[data-reference="visible"] {
  visibility: visible;
  opacity: 1;
  transition: opacity .5s;
}

  //popup end

.game__main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

.game-day__prev,
.game-day__next {
  width: 2.8em;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.game-day__prev {
  left: -2.8em;
}

.game-day__next {
  right: -2.8em;
}

.game-day__prev svg,
.game-day__next svg {
  margin-top: 0.25rem;
  width: 25px;
}

.game-day__prev.inactive,
.game-day__next.inactive {
  visibility: hidden;
}

.game-day__prev:after,
.game-day__next:after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  content: attr(data-content);
}

.game-day__content {
  flex-grow: 1;
  padding: 2rem 1rem;
  position: relative;
}

.option input {
  display: none;
}

.game-day__content > .qw > div {
  width: 100%;
}

.start {
  font-size: 2.25rem;
  padding: 0.33em 0.73em;
  font-weight: bold;
  display: inline-block;
  margin-top: 1em;
}

.task {
  text-align: center;
  width: 100%;
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.task_message {
  background: #26A9E0;
  background: var(--color-blue);
  border-radius: 4em;
  font-size: 1.3em;
  padding: 1.2em 2.2em; 
}

.task__items {
  display: flex;
}

.task-item {
  max-width: 6.2em;
  flex-shrink: 1;
  margin: 0 1.35em;
  text-align: center;
  font-weight: bold;
}

.task-item__icon {
  width: 105px;
  height: 105px;
  margin: 0 auto 1em;
  position: relative;
}

.task-item__icon.circle {
  border-radius: 50%;
  background-color: white;
}

.task-item__icon svg {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
}

.task__button {
  padding-top: 2rem;
}