// игры
.game {
  position: relative;
  //z-index: 5;
  height: auto;
  // display: flex;
  // flex-direction: column;
  //min-height: 1024px;
  transition: opacity 300ms;
  font-size: inherit;
  color: $color_black;
  padding-bottom: 100px;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}

.game .container {
  position: relative;
}

// .game-day .container {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   padding-top: 2rem;
//   position: relative;
//   z-index: 5;
//   flex-grow: 1;
// }


// .game-day__header {
//   padding-left: 4.7rem;
//   padding-top: 4rem;
//   font-size: 1.35em;
// }
.game__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game__title {
  max-width: 884px;
  font-style: normal;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 65px;
}

.game__title_pairs, .game__title_questions,.game__title_picture {
  display: none;
}

.game__content {
  padding: 100px 0;
  text-align: center;
}

.message {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
}

.message__wrong {
  color: $color_pink;
  //display: none;
}

.message__right {
  color: $color_green;
  //display: none;
}
.avatar {
  position: absolute;
  top: 0px;
  bottom: auto;
  right: 75px;
  max-width: 100px;
  cursor: pointer;
  z-index: 4;
  display: block;
}


[data-avatar-position="fixed"] {
    position: fixed;
    bottom: 50px; 
    top: auto;
}

[data-avatar-position="absolute"] {
    position: absolute;
    bottom: 50px; 
    top: auto;
}

figcaption {
  font-weight: bold;
  text-align: center;
  color: $color_blue;
}


//popup
.pop-up {
  width: 642px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  display: none;
  }
.pop-up__wrap {
  position: relative;
  height: 100%;
}

.pop-up__content {
  max-width: 590px;
  padding: 0 50px;
  font-size: 18px;
  text-align: left;
}

.pop-up .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 37px;
  color: $color_blue;
  padding: 88px 0 46px
}

.pop-up .subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;

  color: #8DC63F;
}

.pop-up .content__list {
  font-size: 18px;
  line-height: 19px;
  text-align: left;
}

.content__list_item {
  margin: 15px 0;
}

.discount {
  display: flex;
  margin: 30px 0;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background: $color_green;
  color: $color_white;
  margin-right: 15px;
}

.percent {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
}

.score {
  font-weight: bold;
  font-size: 16px;
}

.wish {
  color: $color_green;
  font-weight: bold;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.avatar-clone {
  position: absolute;
  top: auto;
  bottom: 50px;
  right: 50px;
  max-width: 100px;
  cursor: pointer;
  z-index: 4;
}

[data-popup-rules="visible"] .pop-up{
  display: block;
}

[data-popup-rules="visible"] .mask {
  display: block;
}

[data-popup-rules="visible"] .avatar {
  display: none;
}

  //popup end

.answers-pairs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;

}

.answers-questions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.answers-picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}
.answers-pairs, .answers-questions, .answers-picture, 
.message, .task-timer {
  display: none;
}

