// game
.game {
  position: relative;
  height: auto;
  transition: opacity 300ms;
  font-size: inherit;
  color: $color_black;
}

.game .container {
  position: relative;
}

.game__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game__title {
  max-width: 90%;
  font-style: normal;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  font-weight: normal;
}

.game__title_pairs, .game__title_questions {
  display: none;
}

.game__content {
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  margin-top: 100px;
  text-align: center;
}

.game-description, .message {
  max-width: 90%;
}

// task
.task__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 34px;
  color: #27AAE2;
  text-align: left;
}

.task__description {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  text-align: left;
  margin-top: 25px;
}

.task__quote {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-size: 24px;
  text-align: left;
  margin-top: 25px;
}

.task__timer {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: normal;

  color: #27AAE2;
}

.task__timer_warning {
  color: $color_pink;
}

//task end

//answers
.answers-pairs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 45px auto 100px;

}

.answers-questions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 45px auto 100px;

}

.answers-pairs, .answers-questions, 
.task__timer, .task {
  display: none;
}

.answers-pairs_active {
  display: flex;  
}

// answers end

//avatar
.avatar {
  position: absolute;
  top: 0px;
  bottom: auto;
  right: 75px;
  max-width: 100px;
  cursor: pointer;
  z-index: 4;
  display: block;
}


[data-avatar-position="fixed"] {
    position: fixed;
    bottom: 50px; 
    top: auto;
}

[data-avatar-position="absolute"] {
    position: absolute;
    bottom: 50px; 
    top: auto;
}

figcaption {
  font-weight: bold;
  text-align: center;
  color: $color_blue;
}

// avatar end

// message statistics
.message-statistic {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  margin-bottom: 100px;
  display: none;
}

.message-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
}

.message-description {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: $color_black;
}
.statistic-description {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
  text-align: justify;
  width: 90%;
  margin: 25px auto 0;
}
.message-title, .message-counter, .message-discount{
  color: $color_green;
}

.title-incorrect {
  color: $color_pink;
}

.message-counter {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: normal;
  text-align: center;
  color: #8DC63F;
  margin: 40px 0 0;
}
.message-discount {
  margin: 0 0 25px;
}
.message-btn{
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  margin-top: 50px;
}
.btn-message {
  width: 500px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color_white;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  border: none;
  border-radius: 40px;
  background: $color_green;
}


.btn-incorrect{
  background: $color_pink;
  margin-right: 20px;
}


// statistics daily

.daily-statistics {
  width: 806px; 
  margin:0 auto;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.statistics__item {
  border: none;
  height: 98px;
  width: 98px;
  box-shadow: 0px 5px 15px rgba(122, 175, 37, 0.5);
  border-radius: 50%;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  color: $color_green;
}
.statistics__item_correct {
  background: #7AAF25;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}

.statistics__item_missed {
  background: #FFFFFF;
  border: 2px solid rgba(122, 175, 37, 0.3);
  color: rgba(122, 175, 37, 0.3);
  box-shadow: none;
}

.statistics__item_incorrect {
  background: #e23834;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}
// end statistics daily

.message-wish {
  color: $color_green;
  font-size: 24px;
  margin-top: 45px;
}
// end statistics


// message-coupon
.message-coupon .daily-statistics,
.message-coupon-used .daily-statistics{
  margin-top: 20px;
  margin-bottom: 28px;
}
.message-coupon .message-discount,
.message-coupon-used .message-discount {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: normal;
  text-align: center;
  color: #27AAE2;
  margin: 0;
}

.coupon-code {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: normal;
  color: #27AAE2;
  margin-top: 0;
}

.coupon-message {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0;
}

.coupon-steps {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
  text-align: center;
}
.coupon-link {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
}

.coupon-code__used {
  color: rgba(39, 170, 226, 0.3);
}

// end message coupon

.message-coupon,.message-coupon-used,
.message-noparticipate,
.message-end, .message-reload {
  margin-bottom: 100px;
  display: none;
}
//popup
.mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}
.pop-up {
  width: 642px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  display: none;
  }
.pop-up__wrap {
  position: relative;
  height: 100%;
}

.pop-up__content {
  max-width: 590px;
  padding: 0 50px;
  font-size: 18px;
  text-align: left;
}

.pop-up .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 37px;
  color: $color_blue;
  padding: 88px 0 46px
}

.pop-up .subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;

  color: #8DC63F;
}

.pop-up .content__list {
  font-size: 18px;
  line-height: 19px;
  text-align: left;
}

.content__list_item {
  margin: 15px 0;
}

.discount {
  display: flex;
  margin: 30px 0;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background: $color_green;
  color: $color_white;
  margin-right: 15px;
}

.percent {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
}

.score {
  font-weight: bold;
  font-size: 16px;
}

.wish {
  color: $color_green;
  font-weight: bold;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.avatar-clone {
  position: absolute;
  top: auto;
  bottom: 50px;
  right: 50px;
  max-width: 100px;
  cursor: pointer;
  z-index: 4;
}

[data-popup-rules="visible"] .pop-up{
  display: block;
}

[data-popup-rules="visible"] .mask {
  display: block;
}

[data-popup-rules="visible"] .avatar {
  display: none;
}
// end popup

// end game


