
.greeting {
  background: $color_blue;
}
.greeting .screen__content {
  min-width: 809px;
}

.greeting .screen__title {
  margin-top: 50px;
  font-size: 91px;
}

.greeting .screen__description {
  color: $color_white;
}

.scene { 
  
  min-height: 365px;
  position: relative;
  margin-top: 40px;
}
.img__container {
  position: relative;
}

.bear, .bear__hat, .bear__left, .bear__right, .bear__cap,
.bear__eyebrows, .bear__eyebrow1, .bear__eyebrow2, .bear__nose, .bear__mouth,
.clouds, .kremlin, .glade-1, .glade-2, 
.tree-1, .tree-2, .tree-3, .doll, .hill, .ray, .line {
  position: absolute;
}
.bear {
  max-width: 432px; 
  left: 0;
  right: 0;
  margin: 47px auto 0;
}
.bear__body {
  max-width: 395px;
}

.bear__hat {
  max-width: 217px;
  top: -42px;
  left: 148px;
  margin: 0 auto; 
}

.bear__left {
  width: 68px;
  left: -50px;
  top: 50px;
}

.bear__right {
  width: 78px;
  left: 90px;
  top: 15px;
}
.bear__cap {
  width: 103px;
}
.bear__eyebrows {
  width: 68px;
  left: 160px;
  top: 10px;
}
.bear__eyebrow1, .bear__eyebrow2 {
  width: 19px;
}
.bear__eyebrow2 {
  width: 19px;
  left: 53px;
  transform: rotate(25deg) scale(-1, 1);
}
.bear__nose {
  width: 29px;
  top: 53px;
  left: 180px;
}
.bear__mouth {
  width: 37px;
  top: 70px;
  left: 175px;
}
.bear__balalaika {
  max-width: 240px; 
  position: absolute;
  top: -9px;
  left: 192px;
}

.hill {
  max-width: 212px;
  right: 420px;
  bottom: -5px;
  
}
.doll {
  max-width: 93px;
  right: 420px;
  bottom: 23px;
  transform: rotate(15deg);
  
}
.tree-1 {
  max-width: 180px;
  left: 100px;
  bottom: 20px;
}
.tree-2 {
  max-width: 138px;
  left: 1150px;
  bottom: 60px;
}
.tree-3 {
  max-width: 250px;
  right: 280px;
  bottom: 10px;
}
.glade-1 {
  left: 300px;
  bottom: 28px;
  max-width:: 995px;
}
.glade-2 {
  right: 150px;
  bottom: 28px;
  max-width:: 342px;
}
// .glade {
//   right: 0;
//   margin: 0 auto;
//   bottom: 28px;
//   width: 1350px;
// }
.kremlin { 
  max-width: 370px;
  left: 500px;
  top: -40px;
  transform: rotate(-8deg);
}
.clouds {
  left: 400px;
  top: 95px;
  margin: 0 auto;
  max-width: 678px;
}
.ray {
  max-width: 220px;
  right: 0;
  top: 35px;
}
.line {
  bottom: 0;
  background-color: $color_green;
  height: 48px;
  width: 100%;
}


@media screen and (max-width: 1540px) {
  .tree-1, .glade-1{
    left: 0;
  }
  .tree-2{
    left: 850px;
  }
  .tree-3 {
    right: 0;
  }
  .doll, .hill {
    right: 120px;
  }
  .clouds {
    left: 120px;
  }
  .kremlin {
    left: 220px;
  }
}

@media screen and (max-width: 960px) {
  .ray {
    display: none;
  }
}