// вспомогательные
.page-wrap {
	display: inline-flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100%;
	position: relative;
	overflow: hidden;
	vertical-align: top;
}
	
a {
	text-decoration: none;
}

p {
	margin: 20px 0;
}
img{
	width: 100%;
}

.text {
	margin: 0;
	padding: 0;
	font-size: 18px;
	max-width: 820px;
	color: $color_black;
}
	
.accent {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}


.hidden {
	display: none;
}

.footnote {
	font-size: 14px;
	color: $color_gray;
}



button {
	font-family: inherit;
	font-size: inherit;
	border: none;
	outline: none;
	box-shadow: none;
}

button:active, button:focus, button:hover {
	outline: none;
	box-shadow: none;
}

.link {
	color: $color_blue;
	text-decoration: underline;	
}

ol {
	list-style: none;
	counter-reset: li;
	-webkit-padding-start: 0;
	padding-inline-start: 0; }

li:before {
	counter-increment: li;
	content: counters(li, ".") ". "; }

.accent {
	font-weight: bold;
}