.map {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px; }
  
.map svg {
  margin: 0 auto;
  overflow: visible;
  width: 100%; }

.map .region {
  cursor: pointer;
  -webkit-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms; }
  
  .map .region.active path, 
  .map .region.full path {
    fill: #EB1C24; }
  
  .map .region.active:hover path, 
  .map .region.full:hover path {
    fill: #D61B23; }

.map .region:hover path {
  fill: #CCCCCC; }

.map .marker {
  cursor: pointer;
  -webkit-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms; }
  
  .map .marker.active path {
    fill-opacity: 1; }

.map .marker-full_30 {
  cursor: pointer; }

.map .marker-full_14 {
  cursor: pointer; }
