//screen map

.map {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px; }
  
.map-svg {
  position: relative;
  display: flex;
}
.map svg {
  margin: 0 auto;
  overflow: visible;
  width: 1002px; 
}

.region {
  cursor: pointer;
  -webkit-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
  position: relative; }

[data-region="komi"] .region-komi path,
[data-region="irkutsk"] .region-irkutsk path,
[data-region="kamchatka"] .region-kamchatka path,
[data-region="peter"] .region-peter path,
[data-region="caucasus"] .region-caucasus path,
[data-region="volgograd"] .region-volgograd path,
[data-region="moscow"] .region-moscow path {
  fill: $color_yellow;
}


[data-region-state="after"] .region path, [data-region-state="after"] .region :hover path{
  fill: #7FAF33;
}


.region:hover path{
  fill: $color_yellow; }



.hint {
  position: absolute;
  z-index: 2;
  background: $color_white; 
  font-size: 18px;
  padding: 24px;
  border: none;
  border-radius: 10px;
  width: 635px;
  text-align: left;
  padding: 15px;
  color: $color_white;
  box-shadow: -5px 7px 25px rgba(0, 0, 0, 0.1);
  display: none
  // visibility: hidden;
  // opacity: 0;
  // transition :opacity .5s;
  
  //display: none;
}
.hint::after {
  content: ''; 
  position: absolute;
  top: 99%;
  left: 48%;
  border: 20px solid transparent; 
  border-top: 20px solid $color_white;
  z-index: 1;
  // visibility: hidden;
  // opacity: 0;
  // transition :opacity .5s;
}

.hint__date {
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  font-weight: bold;
}

.hint__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 23px;
  text-align: center;
  color: $color_green;
}
.hint__subtitle {
  font-weight: bold;
}
.hint__content {
  font-size: 18px;
  text-align: center;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

// [data-region-state="active"] .hint{
//   background: $color_white;
// }

// [data-region-state="active"] .hint::after {
//   border-top: 29px solid $color_white;
// }

// [data-region-state="active"] .hint__date {
//   color: rgba(0, 0, 0, 0.3);
// }
// [data-region-state="active"] .hint__title {
//   color: $color_green;
// }
// [data-region-state="active"] .hint__content, [data-hint-state="active"] .hint__subtitle {
//   color: rgba(0, 0, 0, 0.7);
// }

// [data-region-state="disable"] .hint{
//   background: $color_hint;
// }

// [data-region-state="disable"] .hint::after {
//   border-top: 29px solid $color_hint;
// }
// [data-region-state="disable"] .hint__date {
//   color: rgba(255, 255, 255, 0.5);
// }
// [data-region-state="disable"] .hint__title {
//   opacity: 0.5;
// }
// [data-region-state="disable"] .hint__content {
//   color: $color_white;
//   opacity: 0.5;
// }
.hint.hint-kamchatka::after {
  left: 99%;
  top: 33%;
  border: 20px solid transparent; 
  border-left: 20px solid $color_white;
}

.hint.hint-peter::after, .hint.hint-caucasus::after,
.hint.hint-volgograd::after, .hint.hint-moscow::after {
  left: -6%;
  top: 33%;
  border: 20px solid transparent; 
  border-right: 20px solid $color_white;
}

.hint-komi {
  right: 500px;
  top: 55px;
}

.hint-irkutsk {
  right: 220px;
  top: 265px;
}

.hint-kamchatka {
  right: 181px;
  top: 225px;
}

.hint-peter {
  right: 240px;
  top: 75px;
}

.hint-caucasus {
  left: 200px;
  top: 330px;
}

.hint-volgograd {
  left: 255px;
  top: 281px;
}

.hint-moscow {
  left: 262px;
  top: 185px;
}

//end screen map
[data-region="komi"] .hint-komi,
[data-region="irkutsk"] .hint-irkutsk,
[data-region="kamchatka"] .hint-kamchatka,
[data-region="peter"] .hint-peter,
[data-region="caucasus"] .hint-caucasus,
[data-region="volgograd"] .hint-volgograd,
[data-region="moscow"] .hint-moscow {
  display: block;
}
