
/* блок правил */

.rules {
  padding: 100px 0;
}

.rules h2 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: $color_blue;
}

.rules-list {
  margin-top: 3.8125rem;
  list-style: none;
  font-size: 1.25rem;
}



.rules-list .toggle-list:before {
  content: 'Показать ';
  display: inline;
}

.rules-list.open .toggle-list:before {
  content: 'Скрыть ';
}

.rules-list .full {
  display: none;
}

.rules-list li {
  margin-bottom: 1rem;
  counter-increment: main;
}

.rules-list li:before {
  content: counter(main)'. ';
}

.rules-list ol {
  counter-reset: list;
}

.rules-list ol li {
  list-style: none;
  counter-increment: list;
}

.rules-list ol li:before {
  content: counter(main)'.'counter(list)'. ';
}