
// screen rules

.rules {
  padding: 100px 0;
}

.rules__title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: $color_blue;
  width: 85%;
  margin: 0 auto;
}

.rules__subtitle {
  font-family: Roboto;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: $color_blue;
  background: transparent;
  cursor: pointer;
}

.rules__list {
  margin-top: 3.8125rem;
  list-style: none;
  font-size: 18px;
  line-height: 1.3;
  font-weight: normal;
  text-align: left;
  color: $color_black;
  display: none;
}

.rules__list li {
  margin-top: 1rem;
}

ol {
  list-style: none;
  counter-reset: li;
  -webkit-padding-start: 0;
  padding-inline-start: 0; }

li:before {
  counter-increment: li;
  content: counters(li, ".") ". "; }

table {
  margin: 45px 0;
}
table, tr, td, th {
  border: 1px solid $color_black;
  border-collapse: collapse;
  padding: 10px;
}

td:nth-child(1){
  width: 40%;
}
.rules__show {
  display: block;
  max-height: 3000px;
}

// end screen rules