/* полный экран */
.screen {
  //max-width: 100%;
  //max-width: 100vw;

  //min-height: 100vh;
  
  position: relative;
  z-index: 1;
}

.screen__content {
  position: relative;
  max-width: 809px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screen__title img {
  max-width: 100%;
  margin: 0 auto;
}

.screen__description {
  margin-top: 0.8em;
}

.screen_bg {
  position: relative;
}