
// data-view
[data-view="after"] .btn-participate {
	display: none;
}

[data-view="pairs"] .btn-participate,
[data-view="questions"] .btn-participate{
	display: flex;
}

[data-view="pairs"] .game__title_pairs,
[data-view="questions"] .game__title_questions{
	display: block;
}

[data-view="pairs"] .game__title_before,
[data-view="questions"] .game__title_before,
[data-view="after"] .game__title_before {
	display: none;
}

[data-view="pairs"] .message-btn,
[data-view="pairs"] .message-description {
	display: none;
}

[data-game-type="pairs"] .task,
[data-game-type="questions"] .task {
	display: block;
}

[data-game-type="questions"] .answers-questions {
	display: flex;
}


[data-game-type="pairs"] .task__timer {
	display: block;
}

[data-game-type="pairs"] .btn-start {
	display: flex;
}

[data-game-type="pairs"] .task,
[data-game-type="questions"] .task {
	display: block;
}

[data-game-type="pairs"] .btn-participate,
[data-game-type="questions"] .btn-participate,
[data-game-type="statistics"] .btn-participate {
	display: none;
}

[data-game-type="statistics"] .task,
[data-game-type="statistics"] .answers-pairs {
	display: none;
}

[data-game-type="statistics"] .message {
	display: block;
}