
// data-view
[data-view="after"] .btn-participate {
	display: none;
}

[data-view="game"] .btn-participate {
	display: flex;
}

[data-view="pairs"] .game__title_pairs,
[data-view="questions"] .game__title_questions,
[data-view="picture"] .game__title_picture {
	display: block;
}

[data-view="pairs"] .game__title_before,
[data-view="questions"] .game__title_before,
[data-view="picture"] .game__title_before,
[data-view="after"] .game__title_before {
	display: none;
}

[data-view="pairs"] .task,
[data-view="questions"] .task,
[data-view="picture"] .task {
	display: block;
}

[data-view="pairs"] .answers-pairs,
[data-view="questions"] .answers-questions,
[data-view="picture"] .answers-picture {
	display: flex;
}


[data-view="pairs"] .task__timer {
	display: block;
}

[data-view="pairs"] .btn-start {
	display: flex;
}