
// data-view

[data-view="after"] .btn-participate {
	display: none;
}

[data-view="pairs"] .btn-participate,
[data-view="questions"] .btn-participate{
	display: flex;
}

[data-view="pairs"] .game__title_pairs,
[data-view="questions"] .game__title_questions{
	display: block;
}

[data-view="pairs"] .game__title_before,
[data-view="questions"] .game__title_before,
[data-view="after"] .game__title_before {
	display: none;
}

[data-view="pairs"] .message-btn,
[data-view="pairs"] .statistic-description {
	display: none;
}

// end data-view

// data-region
[data-region="komi"] .region-komi path,
[data-region="irkutsk"] .region-irkutsk path,
[data-region="kamchatka"] .region-kamchatka path,
[data-region="peter"] .region-peter path,
[data-region="caucasus"] .region-caucasus path,
[data-region="volgograd"] .region-volgograd path,
[data-region="moscow"] .region-moscow path {
  fill: $color_yellow;
}

[data-region-state="after"] .region path, [data-region-state="after"] .region :hover path{
  fill: #7FAF33;
}

[data-region="komi"] .hint-komi,
[data-region="irkutsk"] .hint-irkutsk,
[data-region="kamchatka"] .hint-kamchatka,
[data-region="peter"] .hint-peter,
[data-region="caucasus"] .hint-caucasus,
[data-region="volgograd"] .hint-volgograd,
[data-region="moscow"] .hint-moscow {
  display: block;
}

// end data-region

// data-game-type
[data-game-type="pairs"] .task,
[data-game-type="questions"] .task {
	display: block;
}

[data-game-type="questions"] .answers-questions {
	display: flex;
}


[data-game-type="pairs"] .task__timer {
	display: block;
}

[data-game-type="pairs"] .btn-start {
	display: flex;
}

[data-game-type="pairs"] .task,
[data-game-type="questions"] .task {
	display: block;
}

[data-game-type="pairs"] .btn-participate,
[data-game-type="questions"] .btn-participate,
[data-game-type="statistics"] .btn-participate,{
	display: none;
}

[data-game-type="statistics"] .task,
[data-game-type="statistics"] .answers-pairs {
	display: none;
}

[data-game-type="statistics"] .message-statistic,
[data-game-type="coupon"] .message-coupon,
[data-game-type="couponused"] .message-coupon-used,
[data-game-type="noparticipate"] .message-noparticipate,
[data-game-type="end"] .message-end,
[data-game-type="reload"] .message-reload{
	display: block;
}

[data-game-type="coupon"] .game__header,
[data-game-type="couponused"] .game__header,
[data-game-type="noparticipate"] .game__header,
[data-game-type="end"] .game__header,
[data-game-type="reload"] .game__header,
[data-game-type="coupon"] .game-description,
[data-game-type="couponused"] .game-description,
[data-game-type="noparticipate"] .game-description,
[data-game-type="end"] .game-description,
[data-game-type="reload"] .game-description,
[data-game-type="coupon"] .avatar,
[data-game-type="couponused"] .avatar,
[data-game-type="noparticipate"] .avatar,
[data-game-type="end"] .avatar {
	display: none;
}

// data-game-type