//основные
* {
	margin: 0;
	padding: 0;
}
	
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
} 
	

.container{
	max-width: 1260px;
	min-width: 940px;
	box-sizing: border-box;
	width: 100%;
	font-size: inherit;
	padding: 0 20px;
	margin: auto;
}

.container__inner{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

$color_white: #FFFFFF;
$color_black: rgba(0, 0, 0, 0.8);
$color_blue: #27AAE1;
$color_green: #8DC63F;
$color_lightGreen: #9EC928;
$color_lime: #7FAF33;
$color_red: #B81739;
$color_pink: #E23834;
$color_orange: #EA7A0A;
$color_yellow: #FFB943;
$color_heavenly: #65A7EA;
$color_lightBlue: #edf4fb;
$color_darkBlue: #00307A;
$color_gray: rgba(38, 96, 171, 0.3);

.hb-chg {
	@import '_helpers';
	@import '_header';
	@import '_screen';
	@import '_greeting';
	@import '_map';
	@import '_game';
	@import '_calendar';
	@import '_button';
	@import '_rules';
	@import '_footer';
}
	
	