

$color_white: #FFFFFF;
$color_black: rgba(0, 0, 0, 0.8);
$color_blue: #27AAE1;
$color_green: #8DC63F;
$color_lightGreen: #9EC928;
$color_lime: #7FAF33;
$color_red: #B81739;
$color_pink: #E23834;
$color_orange: #EA7A0A;
$color_yellow: #FFB943;
$color_heavenly: #65A7EA;
$color_lightBlue: #edf4fb;
$color_darkBlue: #00307A;
$color_gray: rgba(255, 255, 255, 0.3);
$color_hint: #7AAF25;


.hb-chg {
	@import '_helpers';
	@import '_button';
	@import '_screen';
	@import '_header';
	@import '_greeting';
	@import '_map';
	@import '_game';
	@import '_calendar';
	@import '_rules';
	@import '_footer';
	@import '_view';
	@import '_media';
}
	
