footer
	.container
		.footer__items
			a(href="/shops/").footer__item Адреса магазинов
			img(src="/ii/img/project_name/sheet.svg")
			a(href="/delivery/").footer__item Оплата и доставка
			img(src="/ii/img/project_name/sheet.svg")
			a(href="/personal/basket").footer__item Корзина