section.game(data-popup-rules="" data-game-type="")
	.container
		.game__header
			.game__title
				.game__title_before
					span.accent 
						| С 13 мая 
					| на этой странице будут появляться вопросы и задания. 
					br 
					| Получайте баллы за правильные ответы и обменивайте их на 
					span.accent 
						| скидку до 15%.

				.game__title_pairs
					span.accent
						| Сегодня 
					| вас ждёт вопрос о Республике Коми. 
					br
					| За правильный ответ вы получите 
					span.accent
						| 1 балл. 
					| Успейте отгадать все пары за одну минуту.

				.game__title_questions
					span.accent
						| Сегодня 
					| вас ждёт вопрос о Республике Коми. 
					br
					| За правильный ответ вы получите 
					span.accent
						| 1 балл. 

				
			button.btn.btn-participate.js__btn_participate(type="button" value="Начать игру") Начать игру

		.game__content

			.game-description

				.task

					.task__title
						| Путешествуем к озеру Байкал

					.task__description
							| Самое большое пресноводное озеро нашего континента и самое глубокое озеро на всей планете местные жители в древности называли Святым морем. Его площадь – почти 32 тысячи квадратных километров, примерно как целая Бельгия или Нидерланды. По легенде, озеро Байкал родилось на месте огнедышащей горы, а его возраст может достигать 35 миллионов лет. Немало писателей восхищались местной красотой, исключительной прозрачностью воды и ее целебной силой. Кому из них принадлежат эти строки?

					.task__quote
						| «А Байкал в остывающем, меркнущем свете всё больше погружался не во мрак, а в сияние. Алёша шёл, и огромное водное полотно справа, стоящее от переполненности горкой, «перелистывало» цвета: только что было оранжевым и бликующим, играющим с зарёй, затем фиолетовым, кладущим длинные мутные тени, затем изумрудным, с самоцветными вспышками, и становилось всё глубже, всё ярче. И надо всем этим нескончаемая музыка – и от ласкового чмока воды о камни, и от небесной натуги, и от слабого потрескивания горящих звёздочек, и от неслышного трепетанья трав и листьев, и от немой песни камня, в эту пору кого-то зовущего, точно тихо и сладко играли рядом склянки»
					
					.task__timer
						| 01:00

					button.btn.btn-start.js__btn_start(type="button" value="Я готов!") Я готов!

				section.answers-pairs
					.answer-left
						label
							input.question__options_input(type="checkbox" value="Менее 15 минут" name="question-1" data-name="question-1" data-answer-number="1" hidden)
							span.option(data-label="")
								span(data-value="")
								span(data-text="") Ночевала тучка золотая. Повесть


						label
							input.question__options_input(type="checkbox" value="Менее 15 минут" name="question-1" data-name="question-1" data-answer-number="2" hidden)
							span.option(data-label="")
								span(data-value="")
								span(data-text="") «Прокляты и убиты», Виктор Астафьев
					.answer-right
						label
							input.question__options_input(type="checkbox" value="Менее 15 минут" name="question-1" data-name="question-1" data-answer-number="3" )
							span.option(data-label="")
								span(data-value="")
								span(data-text="") Короткий ответ в одну строку

						label
							input.question__options_input(type="checkbox" value="Менее 15 минут" name="question-1" data-name="question-1" data-answer-number="4" hidden)
							span.option(data-label="")
								span(data-value="")
								span(data-text="") Похороните меня за плинтусом

				section.answers-questions
					label
						input.question__options_input(type="radio" value="Менее 15 минут" name="question-1" data-name="question-1" data-answer-number="1" hidden)
						span.option(data-label="")
							span(data-value="")
							span(data-text="") «Царь-рыба», Виктор Астафьев

					label
						input.question__options_input(type="radio" value="Менее 15 минут" name="question-1" data-name="question-1" data-answer-number="2" hidden)
						span.option(data-label="")
							span(data-value="")
							span(data-text="") «Прощание с Матерой», Валентин Распутин

					label
						input.question__options_input(type="radio" value="Менее 15 минут" name="question-1" data-name="question-1" data-answer-number="3" hidden)
						span.option(data-label="")
							span(data-value="")
							span(data-text="") «Зулейха открывает глаза», Гузель Яхина

			.message(data-statistic="")
				p.message-title.title-incorrect
					| Увы... Это неправильный ответ

				.message-btn
					.btn-message.btn-incorrect
						| «Прощание с Матерой», Валентин Распутин
					
					.btn-message
						| «Зулейха открывает глаза», Гузель Яхина 

				p.message-description
					| Зимой 1930 года 
					a(href="/catalog/book/827140/").link крестьянку Зулейху 
					| вместе с сотнями других переселенцев отправляют из глухой татарской деревушки в вагоне-теплушке по извечному каторжному маршруту в Сибирь. Дремучие крестьяне и ленинградские интеллигенты, деклассированный элемент и уголовники, мусульмане и христиане, язычники и атеисты, русские, татары, немцы, чуваши - все встретятся на берегах Ангары. Вы дали неверный ответ.

				p.message-counter
					| Правильных ответов: 0 из 7. 

				p.message-discount
					| Ваша скидка: 0%

				.daily-statistics
					.statistics__item.statistics__item_correct
						.number 13 
						.month мая
					.statistics__item.statistics__item_missed
						.number 14 
						.month мая
					.statistics__item.statistics__item_incorrect
						.number 15 
						.month мая
					.statistics__item
						.number 16 
						.month мая
					.statistics__item
						.number 17 
						.month мая
					.statistics__item
						.number 18 
						.month мая
					.statistics__item
						.number 19 
						.month мая

				p.message-wish Ждём вас завтра!

	.mask.js__mask
	.pop-up
		.pop-up__wrap
			.pop-up__content
				.title Как играть?
				ol.content__list
					li.content__list_item 
						span.accent С 13 по 19 мая 
						| на странице игры каждый день будут появляться задания. 1 день – 1 задание. Новое задание появляется в 00:00 по московскому времени, его можно выполнить до 23:59.
					li.content__list_item Участие могут принять только те пользователи, которые авторизовались на сайте chitai-gorod.ru. 
						| Если вы ещё не зарегистрированы, начните игру и пройдите  регистрацию.
					li.content__list_item За каждый правильный ответ вы получаете 
						span.accent 1 балл. 
						| Накопленные баллы превращаются в скидку.
				.subtitle Больше баллов - больше скидка
				.discount
					.circle
						.percent 5%
						.score 1-2 балла
					.circle
						.percent 10%
						.score 3-5 балла
					.circle
						.percent 15%
						.score 6-7 балла
				p
					span.accent 19 мая
					| , в последний день игры, вы получите купон на скидку. Он появится на странице игры, дополнительно мы отправим его в письме на вашу электронную почту.

				p.wish Приятной игры!

				a.link.js__ancor(href="#rules") Полные правила акции


			svg.close.js__close(xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 48 48" width="48" height="48")
				path(fill="#e0e0e0" d="M 38.0005 12.82 L 35.1805 10 L 24.0005 21.18 L 12.8205 10 L 10.0005 12.82 L 21.1805 24 L 10.0005 35.18 L 12.8205 38 L 24.0005 26.82 L 35.1805 38 L 38.0005 35.18 L 26.8205 24 L 38.0005 12.82 Z")
			figure.avatar-clone.js__avatar_clone
				img(src="/ii/img/project_name/avatar.svg" alt="аватар медведя")
				figcaption Как играть? 
	figure.avatar.js__avatar(data-avatar-position="")
		img(src="/ii/img/project_name/avatar.svg" alt="аватар медведя")
		figcaption Как играть? 
