
section.screen.greeting
	.screen__bg
		
		.screen__content
			.screen__title
				img(src="/ii/img/events/7years/title.svg" alt="")
			.screen__description
				| В этом году интернет-магазину «Читай-город» исполняется 7 лет. 
				br 
				| Это отличный повод узнать поближе 7 чудес России. Участвуйте в игре и получайте скидку 15% на всё!
		// фон первого экрана
		.ray
			img(src="/ii/img/events/7years/ray.svg" alt="луч")
		.screen_bg
			.scene
				
				.clouds
					img(src="/ii/img/events/7years/cloudsAll.svg" alt="облака")
				.kremlin
					img(src="/ii/img/events/7years/kremlin.svg" alt="кремль")
				.tree-2(data-parallax="")
					img(src="/ii/img/events/7years/tree.svg" alt="березки")
				.glade-1
					img(src="/ii/img/events/7years/glade1.svg" alt="поле")
				.glade-2
					img(src="/ii/img/events/7years/glade2.svg" alt="поле")
				
				.tree-1(data-parallax="")
					img(src="/ii/img/events/7years/tree.svg" alt="березки")
				
				.tree-3(data-parallax="")
					img(src="/ii/img/events/7years/tree.svg" alt="березки")
				.doll
					img(src="/ii/img/events/7years/doll.svg" alt="матрешка")
				.hill
					img(src="/ii/img/events/7years/hill.svg" alt="холмик")
				.bear
					.img__container
						.bear__body
							img(src="/ii/img/events/7years/bearBody.svg" alt="медведь")
						.bear__hat
							.img_container
								.bear__left
									img(src="/ii/img/events/7years/bearLeftEars.svg")
								.bear__right
									img(src="/ii/img/events/7years/bearRightEars.svg")
								.bear__cap
									img(src="/ii/img/events/7years/bearCap.svg")
						.bear__eyebrows
							.img_container
								.bear__eyebrow1
									img(src="/ii/img/events/7years/bearEyebrow.svg" alt="медведь")
								.bear__eyebrow2
									img(src="/ii/img/events/7years/bearEyebrow.svg" alt="медведь")
							
						.bear__nose
							img(src="/ii/img/events/7years/bearNose.svg" alt="медведь")
						.bear__mouth
							img(src="/ii/img/events/7years/bearMouth.svg" alt="медведь")
						.bear__balalaika
							img(src="/ii/img/events/7years/balalaika.svg" alt="балалайка")
			.line
// end screen greering

