header.header-birthday
	.container
		.container__inner
			a.header__logo(href="/")
				img(src="/ii/img/project_name/logo.svg" alt="Логотип")
			
			nav.social-list
				.container__inner
					a.social-list__item(href="https://vk.com/chitaigorod" target="_blank")
						img(src="/ii/img/project_name/vk-icon.svg" alt='Вконтакте')
					a.social-list__item(href="https://ok.ru/chitaigorod" target="_blank")
						img(src="/ii/img/project_name/ok-icon.svg" alt='Одноклассники')
					a.social-list__item(href="https://www.facebook.com/chitaigorod" target="_blank")
						img(src="/ii/img/project_name/fb-icon.svg" alt='Facebook')
					a.social-list__item(href="https://www.instagram.com/chitai_gorod/" target="_blank")
						img(src="/ii/img/project_name/inst-icon.svg" alt='Instagram')
					a.social-list__item(href="https://twitter.com/chitaigorod" target="_blank")
						img(src="/ii/img/project_name/tw-icon.svg" alt='Twitter')
					a.social-list__item(href="https://www.youtube.com/channel/UCbsqXVnwSqer9QttshVs76A" target="_blank")
						img(src="/ii/img/project_name/yt-icon.svg" alt='Youtube')
					button.social-list__item.js__showPopupLogin(type="button") Войти