section.rules#rules
    .container
        .rules__title ПРАВИЛА АКЦИЙ
            .rules__content.js__rules_content
                button.rules__subtitle Правила акции «7 ЧУДЕС РОССИИ»
                ol.rules__list.js__rules_list
                    li Акция проводится исключительно в Интернет-магазине (www.chitai-gorod.ru, ООО «Новый Книжный Центр», 127322, г. Москва, Огородный проезд, дом 20, строение 27, помещение 14, ОГРН 1027700282763)
                    li Акция не действует в розничных магазинах сети «Читай-город» и в розничных магазинах «Гоголь-Моголь», в т.ч. в случае резервирования товара на сайте 
                        a(href="/").link www.chitai-gorod.ru.
                    li Общий срок проведения Акции: с 13.05.2019 г.  по 31.05.2019 г. включительно (здесь и далее – по московскому времени). 
                        ol
                            li Период выполнения заданий на сайте www.chitai-gorod.ru: с 13.05.2019 г.  по 19.05.2019 г.  включительно.
                            li Период действия скидки по Акции: с 19.05.2019 г.  по 31.05.2019 г. включительно. 
                    li Обязательным условием участия в Акции является регистрация лица, желающего принять участие в Акции, в интернет-магазине «Читай-город» на сайте 
                        a(href="/").link www.chitai-gorod.ru 
                        | (далее также – Сайт).
                    li Порядок участия в Акции:
                        ol
                            li В период  с 13.05.2019 г.  по 19.05.2019 г.  включительно лицам, желающим принять участие в Акции, необходимо авторизоваться в личном кабинете на Сайте, пройти по ссылке 
                                a(href="/events/7years/").link https://www.chitai-gorod.ru/events/7years/  
                                | и выполнить предложенное задание.
                            li  Ежедневно с 13.05.2019 г. по 19.05.2019 г. включительно на Сайте по ссылке 
                                a(href="/events/7years/ ").link https://www.chitai-gorod.ru/events/7years/  
                                | будет размещено новое задание. Каждый день в период, указанный в настоящем пункте, будет размещаться только одно новое задание.
                            li Каждое задание может быть выполнено только один раз. 
                            li Участникам Акции не предоставляется возможность вернуться к заданиям предыдущих дней.
                            li Участникам Акции не предоставляется возможность заранее выполнить задания будущих дней.
                            li Время, в течение которого участник Акции должен выполнить одно задание, ограничено для тех заданий, на страницах с которыми отображается время для выполнения. По истечении времени, данного для выполнения задания, ответ Участника Акции не будет засчитан.
                            li За правильный ответ на одно задание участник получает 1 балл, за неправильный ответ – 0 баллов. Максимальное количество баллов, которое один участник может получить, выполнив правильно все задания, - 7 баллов (при условии авторизации в личном кабинете на Сайте).

                    li Общее количество баллов участника Акции отображается на Сайте по ссылке 
                        a(href="/events/7years/ ").link  https://www.chitai-gorod.ru/events/7years/   
                        | при условии авторизации Участника в личном кабинете.
                    li Pазмер предоставляемой скидки по Акции, а также индивидуальный промокод для получения скидки по Акции будет отображаться в письме, направленном Участнику Акции на E-mail, указанный участником Акции при регистрации в интернет-магазине 
                        a(href="/").link www.chitai-gorod.ru 
                        | , а также на Сайте по ссылке 
                        a(href="/events/7years/ ").link https://www.chitai-gorod.ru/events/7years/  
                        | при условии авторизации Участника в личном кабинете. 
                    li Участникам Акции, набравшим необходимое количество баллов, скидка по Акции предоставляется на общую сумму покупки товаров, участвующих в Акции, в размере 5 %, 10 % или 15 %, следующим образом:
                        ol
                            li от 1 до 2 баллов – скидка 5 %;
                            li от 3 до 5 баллов – скидка 10 %;
                            li от 6 до 7 баллов – скидка 15 %.
                    li Скидка по Акции предоставляется на все товары из ассортимента интернет-магазина, за исключением товаров из раздела «Скоро в продаже» на сайте Интернет-магазина.
                    li Для получения Скидки по Акции участнику Акции необходимо будет при оформлении заказа в Корзине (
                        a(href="/personal/basket/ ").link https://www.chitai-gorod.ru/personal/basket/
                        | ) ввести в поле «Введите номер купона» промокод из письма с размером предоставляемой скидки по Акции, направленном Участнику Акции на E-mail, указанный участником Акции при регистрации на сайте 
                        a(href="/").link www.chitai-gorod.ru. 
                        | Промокод и размер скидки также будут указаны на Сайте по ссылке 
                        a(href="/events/7years/ ").link https://www.chitai-gorod.ru/events/7years/  
                        | при условии авторизации Участника в личном кабинете.     

                    li Скидка предоставляется единоразово при оформлении заказа в интернет-магазине 
                        a(href="/").link www.chitai-gorod.ru  
                        | в период с 19.05.2019 г.  по 31.05.2019 г. включительно.

                    li Промокод можно использовать только один раз. В случае отмены и (или) возврата заказа с активированной скидкой скидка по промокоду не восстанавливается. 
                    li Количество товара ограничено. 
                    li Скидка по Акции не распространяется на товар, заказ на который был оформлен в интернет-магазине до периода действия скидки, указанного в п. 3.2. настоящих Правил, и который был получен в период действия скидки..
                    li Оплата бонусами товара, приобретённого по Акции, возможна; начисление бонусов за товар, приобретённый по Акции, не производится.
                    li Оплата товара, приобретённого по Акции, подарочными картами возможна только в случае оплаты товара, приобретённого по Акции, в розничных магазинах сети «Читай-город».

                    li Организатор не несет ответственности за невозможность воспользоваться скидкой по Акции, если ранее этой скидкой воспользовались третьи лица в соответствии с информацией, полученной любым способом от участника Акции.
                    li Скидка по Акции не суммируется со скидками по другим акциям, а также со скидкой по картам лояльности сети магазинов «Читай-город» и «Гоголь-Моголь».
                    li Стоимость покупки со скидкой по Акции засчитывается в целях определения процентного уровня участника бонусной программы «Читай-город» и «Гоголь-Моголь».
                    li При возврате в соответствии с действующим законодательством и Правилами продажи товаров в интернет-магазине «Читай-город» (
                        a(href="/about/rules/ ").link https://www.chitai-gorod.ru/about/rules/
                        | ) товара, приобретенного по Акции, скидка не восстанавливается, а денежные средства за такой товар возвращаются в размере стоимости товара за вычетом части, оплаченной бонусами, и скидки по Акции.
                    li Вся информация об Акции, в частности, информация о сроках проведения Акции, об организаторе Акции, о правилах её проведения, иная информация, предоставление которой в соответствии действующим законодательством РФ является обязательным, предоставляется по телефону 8-800-444-8-444, а также на сайте 
                        a(href="/").link www.chitai-gorod.ru. 
                    li Организатором Акции в любое время, без предварительного уведомления участника Акции могут быть изменены условия Акции, включая такие условия как сроки действия Акции, перечень товаров-участников Акции, но не ограничиваясь ими.
                        br 
                        | В том числе Организатор Акции вправе в одностороннем порядке приостановить,     досрочно прекратить проведение Акции в целом или частично. Информация об изменении  условий Акции, приостановке, прекращении Акции размещается Организатором Акции на   сайте 
                        a(href="/").link www.chitai-gorod.ru.
                    li.mb_65 Совершение лицом действий, направленных на участие в Акции, является выражением согласия такого лица с настоящими Правилами в полном объёме.

            
            .rules__content.js__rules_content
                button.rules__subtitle Правила акции «7 ЧУДЕСных лет»
                ol.rules__list.js__rules_list
                    li Акция проводится исключительно в интернет-магазине (www.chitai-gorod.ru, ООО «Новый Книжный Центр», 127322, г. Москва, Огородный проезд, дом 20, строение 27, помещение 14, ОГРН 1027700282763).
                    li Акция не действует в розничных магазинах сети «Читай-город» и в розничных магазинах «Гоголь-Моголь», в т.ч. в случае резервирования товара на сайте www.chitai-gorod.ru. 
                    li Общий период проведения акции: с 13.05.2019 г.  по 19.05.2019 г.  включительно с учетом сроков, обозначенных в п. 4 настоящих Правил (здесь и далее – время московское).
                    li В период проведения Акции на товары, участвующие в Акции, предоставляется скидка в размере 14 % в следующем порядке:
                        
                        table.rules__table
                            tbody
                                tr
                                    th Период действия скидки на разделы
                                    th Разделы интернет-магазина, участвующие в Акции
                                    th Размер скидки 
                                tr
                                    td 13 мая 2019 г. с 00:00 по 23:59 (здесь и далее – время московское)
                                    td 
                                        a(href="/catalog/kanctovars/").link Канцтовары 
                                        br
                                        a(href="/catalog/books/romantika-9698/").link Романтика
                                        br
                                        a(href="/catalog/books/priklyucheniya-9680/").link Приключения
                                        br
                                        a(href="/catalog/books/sovremennaya_proza-9667/").link Современная проза 
                                    td 14%
                                tr
                                    td 14 мая 2019 г. с 00:00 по 23:59
                                    td
                                        a(href="/catalog/books/klassika-9666/").link Классика 
                                        br
                                        a(href="/catalog/souvenirs/").link Сувениры 
                                        br
                                        a(href="/catalog/books/filosofiya-9646/").link Философия 
                                        br
                                        a(href="/catalog/books/obshchestvo-9304/").link Общество 
                                    td 14%
                                tr
                                    td 15 мая 2019 г. с 00:00 по 23:59
                                    td
                                        a(href="/catalog/books/krasota_zdorovye_sport-9116/").link Красота. Здоровье. Спорт 
                                        br
                                        a(href="/catalog/books/fantastika_fentezi-9692/").link Фантастика. Фэнтези 
                                        br
                                        a(href="/catalog/books/poeziya-9664/").link Поэзия 
                                    td 14%
                                tr
                                    td 16 мая 2019 г. с 00:00 по 23:59
                                    td
                                        a(href="/catalog/books/podarochnyye_izdaniya-9469/").link| Подарочные издания 
                                        br
                                        a(href="/catalog/books/iskusstvo-9035/").link Искусство 
                                        br
                                        a(href="/catalog/books/knigi_dlya_detey-9072/").link Книги для детей 
                                    td 14%
                                tr
                                    td 17 мая 2019 г. с 00:00 по 23:59
                                    td
                                        a(href="/catalog/books/delovaya_literatura-8979/").link Деловая литература 
                                        br
                                        a(href="/catalog/books/folklor-9659/").link Фольклор 
                                        br
                                        a(href="/catalog/books/psikhologiya-9530/").link Психология 
                                    td 14%
                                tr
                                    td 18 мая 2019 г. с 00:00 по 23:59
                                    td
                                        a(href="/catalog/books/istoricheskiy_roman-9679/").link Исторический роман 
                                        br
                                        a(href="/catalog/books/obrazovaniye-9405/").link Образование 
                                    td 14%
                                tr
                                    td 19 мая 2019 г. с 00:00 по 23:59
                                    td
                                        a(href="/catalog/books/detektiv_boyevik_triller-9685/").link Детектив. Боевик. Триллер 
                                        br
                                        a(href="/catalog/books/biografii_memuary-9669/").link Биография. Мемуары 
                                        br
                                        a(href="/catalog/books/uvlecheniya-9564/").link Увлечения 
                                    td 14%

                    li Скидка по Акции предоставляется на все товары из раздела интернет-магазина, участвующего в Акции с учетом п. 4 настоящих Правил, за исключением товаров из раздела «Скоро в продаже» на сайте интернет-магазина.
                    li Количество товара, участвующего в Акции, ограничено.
                    li Скидка по Акции не суммируется со скидкой по другим акциям, а также со скидкой по любым картам лояльности сети магазинов «Читай-город» и «Гоголь-Моголь». 
                    li Оплата товара, приобретённого по Акции, бонусами возможна. Начисление бонусов за товар, приобретённый по Акции, не производится.

                    li Стоимость покупки по Акции засчитывается в целях определения процентного уровня участника бонусной программы «Читай-город» и «Гоголь-Моголь».
                    li Оплата товара, приобретённого по Акции, подарочными картами возможна.
                    li Скидка по Акции не распространяется на товар, заказ на который был оформлен в интернет-магазине до периода действия скидки на разделы, указанного в п. 4 настоящих Правил, и который был получен  в период действия скидки.

                    li Вся информация об Акции, в частности, информация о сроках проведения Акции, об организаторе Акции, о правилах её проведения, иная информация, предоставление которой в соответствии действующим законодательством РФ является обязательным, предоставляется по телефону 8-800-444-8-444, а также на сайте 
                        a(href="/").link www.chitai-gorod.ru.
                    li Организатором Акции в любое время без предварительного уведомления участника Акции могут быть изменены любые условия Акции, включая такие условия как период проведения Акции, перечень товаров-участников, но не ограничиваясь ими. 
                    li Организатор Акции также вправе в одностороннем порядке приостановить или  досрочно прекратить проведение Акции в целом или в определенных Магазинах-участниках. Информация об изменении условий Акции, приостановке, прекращении Акции размещается Организатором Акции на сайте 
                        a(href="/").link www.chitai-gorod.ru. 
                    li При возврате товара, приобретенного по Акции, в соответствии с действующим законодательством и Правилами продажи товаров в интернет-магазине «Читай-город» (
                        a(href="/about/rules/").link https://www.chitai-gorod.ru/about/rules/
                        | ) денежные средства за такой товар возвращаются в размере стоимости товара за вычетом части, оплаченной бонусами, а также за вычетом скидки по Акции.

                    li Совершение лицом действий, направленных на участие в Акции, является выражением согласия такого лица с настоящими Правилами в полном объёме.

                    

                        

// .rules
