
/* rules */
.rules {
  padding: 100px 0;
}

.rules__title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: $color_blue;
  width: 85%;
  margin: 0 auto;
}

.rules__subtitle {
  font-family: Roboto;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: $color_blue;
  background: transparent;
  cursor: pointer;
}

.rules__list {
  font-family: 'PT Sans', sans-serif;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  overflow-y: hidden;
  max-height: 0;
}

.rules__list li {
  margin-top: 1rem;
}

ol {
  list-style: none;
  counter-reset: li;
  -webkit-padding-start: 0;
  padding-inline-start: 0; }

li:before {
  counter-increment: li;
  content: counters(li, ".") ". "; }

table {
  margin: 45px 0;
}
table, tr, td, th {
  border: 1px solid $color_black;
  border-collapse: collapse;
  padding: 10px;
}

td:nth-child(1){
  width: 40%;
}

.rules__show {
  animation: show 3s 1;
  max-height: 10000px; }
@keyframes show{
  0%{
    max-height: 0; }
  100% {
    max-height: 10000px; }
}
.rules__hide {
  animation: hide 1.5s 1;
  max-height: 0; }
@keyframes hide{
  0%{
    max-height: 4000px; }
  100% {
    max-height: 0; }
}
/* end rules */